@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Roboto, Open Sans Condensed;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2{
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #141414;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#top-menu{
    font-size: 150%;
    letter-spacing: 10px;
}

#logo, #top-menu{
    line-height: 100px;
}

#top-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#top-menu a {
    text-decoration: none;
    color: inherit;
}

#top-menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Car meet image and main text */

#meet-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#meet-image{
    height: 600px;
    width: 100%;
    background: url(../images/valdemaras-januska-igaoYBHBDws-unsplash.jpg) no-repeat center center;
    background-size: cover;
}
