@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    margin:0;
    padding:10px;
    border:0;
    box-sizing: border-box
}

body {
    font-family: Roboto, Open Sans Condensed;
    color: #3a3a3a;

}

/* headings and logo */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #141414;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#top-menu {
    font-size: 150%;
    letter-spacing: 10px;
}

#logo, #top-menu {
    line-height: 100px;
}

#top-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#top-menu a {
    text-decoration: none;
    color: inherit;
}

#top-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Car meet image and main text */

#meet-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#meet-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center center;
    background-size: cover;
}

#quote {
    padding: 30px;
    width: inherit;
    text-align: center;
}

#what-we-do {
    padding: 30px;
    width: inherit;
    text-align: left;
    font-size: 150%;
}

.container {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
}

.cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
}
.cell-1 {
    background: rgb(136, 149, 153);
}
.cell-2 {
    background: #3a3a3a;
}
.cell-3 {
    background: rgb(136, 149, 153);
}
.cell-4 {
    background: #3a3a3a;
    grid-row: 2;
    grid-column: 1/4;
    text-align: left;
}

.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

/* footer links */

#bottom-menu {
    font-size: 150%;
    letter-spacing: 10px;
    text-align: center;
}

#bottom-menu li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

#bottom-menu a {
    text-decoration: none;
    color: inherit;
}

#bottom-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.social-media {
    text-align: center;
    size: 400px;
}

.copyright {
    text-align: center;
    size: inherit;
}